<%- include('partials/header') %>

<main>
    <h1><%= process.env.APP_NAME %></h1>
    <a class="link" href="<%= process.env.BASE_URL %>api-docs">Please refer to this for <span class="api-text">API Documentation</span></a>
</main>

<%- include('partials/footer') %>
